<form class="{{cssClass}}" autocomplete="off">


    <!-- HEADER -->
    <header class="sheet-header">
        <h1 class="charname" style="flex: 6;">
            <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name"/>
        </h1>

        <div class="defense-container" style="margin-top: 5px; margin-right: 5px;">
            <h4 class="proficiency-name pf-title" style="background: var(--primary-background); border: 1px solid var(--primary-background);">Hero Points</h4>
            <input type="hidden" name="data.attributes.heroPoints.rank" value="{{data.attributes.heroPoints.rank}}" data-dtype="Number"/>
            <span class="proficiency-rank heroPoints-click pf-value" title="{{data.attributes.heroPoints.hover}}">{{{data.attributes.heroPoints.icon}}}</span>
        </div>

        <div class="charlevel">
            <div class="level">
                <label>Level </label>
                <input name="data.details.level.value" type="text" value="{{data.details.level.value}}"
                        data-dtype="Number" placeholder="1"/>
            </div>
            <div class="xpbar">
                <span class="bar" style="width: {{data.details.xp.pct}}%"></span>
            </div>
            <div class="experience">
                <input name="data.details.xp.value" type="text" value="{{data.details.xp.value}}"
                        data-dtype="Number" placeholder="0"/>
                <span class="max" data-wpad="14"> / {{data.details.xp.max}}</span>
            </div>
        </div>
    </header>

<!-- SIDEBAR -->
<section class="sheet-sidebar sidebar">

        <!-- ABILITY SCORES -->
        <div class="abilities" data-group="sidebar" data-tab="abilities">
            
            <h3 class="ac-title pf-heading">Armor Class</h3>
            <ol class="ac-list">                
                <span class="armor-class" title="Armor Class">
                    <input name="data.attributes.ac.value" type="text" value="{{data.attributes.ac.value}}"
                            data-dtype="Number" placeholder="10"/>
                </span>
                <span class="shield-value" title="Shield Bonus">
                    <input name="data.attributes.shield.value" type="text" value="{{data.attributes.shield.value}}"
                            data-dtype="Number" placeholder="+0"/>
                </span>
                <li class="ac-grid">
                    <div class="ac-dex pf-container">
                        <h4 class="ac-item pf-title" title="Your DEX mod capped at your armor value">Dex/Cap</h4>
                        <span class="ac-value pf-value pf-small" title="Your DEX mod capped at your armor value">
                            <input name="data.attributes.ac.dex" type="text" value="{{data.attributes.ac.dex}}"
                                    data-dtype="Number" placeholder="0"/>
                        </span>              
                    </div>
                    <div class="ac-item pf-container">
                        <h4 class="ac-item pf-title" title="Item bonus to your AC">Item</h4>
                        <span class="ac-value pf-value pf-small" title="Item bonus to your AC">
                            <input name="data.attributes.ac.item" type="text" value="{{data.attributes.ac.item}}"
                                    data-dtype="Number" placeholder="0"/>
                        </span>
                    </div>
                    <div class="ac-item pf-container">
                            <h4 class="ac-item pf-title" title="Armor check penalty">Check</h4>
                            <span class="ac-value pf-value pf-small" title="Armor check penalty">
                                <input name="data.attributes.ac.check" type="text" value="{{data.attributes.ac.check}}"
                                        data-dtype="Number" placeholder="0"/>
                            </span>
                        </div>
                </li>  
<!--                 <li class="ac-grid">
                    <div class="ac-armor-type pf-container">
                        <h4 class="ac-armor-type pf-title">Equiped Armor</h4>
                        <span class="ac-armor-type pf-value pf-small" title="The armor you have are wearing">
                            <input name="data.attributes.ac.armor" type="text" value="{{data.attributes.ac.armor}}"
                                    data-dtype="String" placeholder="Leather Armor"/>
                        </span>
                    </div>
                </li> -->
                <li class="ac-grid">
                    <div class="ac-dex pf-container">
                        <h4 class="ac-item pf-title" title="Shield damage is reduced by this hardness value">Hardness</h4>
                        <span class="ac-value pf-value pf-small" title="Shield damage is reduced by this hardness value">
                            <input name="data.attributes.shield.hardness" type="text" value="{{data.attributes.shield.hardness}}"
                                    data-dtype="Number" placeholder="0"/>
                        </span>              
                    </div>
<!--                     <div class="ac-item pf-container">
                        <h4 class="ac-item pf-title" title="The shields max Hit Points and Broken Threshold"> Max</h4>
                        <span class="ac-value pf-value pf-small" title="The shields max Hit Points and Broken Threshold">
                            <input name="data.attributes.shield.maxhp" type="text" value="{{data.attributes.shield.maxhp}}"
                                    data-dtype="String" placeholder="0"/>
                        </span>
                    </div>
                    <div class="ac-item pf-container">
                        <h4 class="ac-item pf-title" title="The shields current Hit Points">Current</h4>
                        <span class="ac-value pf-value pf-small" title="The shields current Hit Points">
                            <input name="data.attributes.shield.hp" type="text" value="{{data.attributes.shield.hp}}"
                                    data-dtype="Number" placeholder="0"/>
                        </span>
                    </div> -->
                </li>  
            </ol>

            <h3 class="hp-title pf-heading">Hit Points</h3>
            <ol class="hp-list">
                <li class="li-three-grid">
                    <div class="hp-temp pf-container">
                        <h4 class="hp-temp pf-title">Temp HP</h4>
                        <span class="hp-temp pf-value pf-large" title="The amount of temporary hit points you have">
                            <input name="data.attributes.hp.temp" type="text" value="{{data.attributes.hp.temp}}"
                                    data-dtype="Number" placeholder="0"/>
                        </span>
                    </div>
                    <div class="hp-current pf-container">
                        <h4 class="hp-current pf-title">Current HP</h4>
                        <span class="hp-current pf-value pf-large" title="Your current hit points">
                            <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}"
                                    data-dtype="Number" placeholder="10"/>
                        </span>
                    </div>
                    <div class="hp-max pf-container">
                        <h4 class="hp-max pf-title">Max HP</h4>
                        <span class="hp-max pf-value pf-large" title="Your maximum hit points">
                            <input name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}"
                                    data-dtype="Number" placeholder="10"/>
                        </span>
                    </div>
                </li>
                <li class="li-four-grid">
                    <div class="defense-container pf-justify-center">
                        <h4 class="defense-item pf-title" title="Your shields current Hit Points">S.Current</h4>
                        <span class="defense-item-value pf-value pf-small" title="Your shields current Hit Points">
                            <input name="data.attributes.shield.hp" type="text" value="{{data.attributes.shield.hp}}"
                                    data-dtype="Number" placeholder="0"/>
                        </span>
                    </div>
                    <div class="defense-container pf-justify-center">
                        <h4 class="defense-item pf-title" title="Your shields max Hit Points and Broken Threshold">S.Max</h4>
                        <span class="defense-item-value pf-value pf-small" title="Your shields max Hit Points and Broken Threshold">
                            <input name="data.attributes.shield.maxhp" type="text" value="{{data.attributes.shield.maxhp}}"
                                    data-dtype="String" placeholder="0"/>
                        </span>
                    </div>

                    <div class="defense-container pf-justify-center">
                        <h4 class="defense-item pf-title">Dying</h4>
                        <span class="defense-item-value pf-value pf-small" title="Your current level of Dying">
                            <input name="data.attributes.hp.dying" type="text" value="{{data.attributes.hp.dying}}"
                                    data-dtype="Number" placeholder="0"/>
                        </span>
                    </div>
                    <div class="defense-container pf-justify-center">
                        <h4 class="defense-item pf-title">Wounds</h4>
                        <span class="defense-item-value pf-value pf-small" title="Your current level of Wounds">
                            <input name="data.attributes.hp.wounds" type="text" value="{{data.attributes.hp.wounds}}"
                                    data-dtype="Number" placeholder="0"/>
                        </span>
                    </div>
                </li>
<!--                     <div class="hp-conditions pf-container">
                        <h4 class="hp-conditions pf-title">Conditions</h4>
                        <span class="hp-conditions pf-value" title="Conditions affecting you">                            
                            <input name="data.attributes.hp.conditions" type="text" value="{{data.attributes.hp.conditions}}"
                                    data-dtype="String" placeholder=""/>
                        </span>
                    </div> -->
                </ol>
                
            <h3 class="defense-title pf-heading">Perception</h3>
            <ol class="defense-list">                
                    
                    <li class="defense" data-attribute="perception">
                        <span class="defense-score rollable" title="{{data.attributes.perception.breakdown}}">{{numberFormat data.attributes.perception.value decimals=0 sign=false}}</span>
                        <h4 class="attribute-name rollable">{{data.attributes.perception.label}}</h4>                    
                        <div class="defense-container">
                            <h4 class="proficiency-name pf-title">Prof</h4>
                            <input type="hidden" name="data.attributes.perception.rank" value="{{data.attributes.perception.rank}}" data-dtype="Number"/>
                            <span class="proficiency-rank proficiency-click pf-value" title="{{data.attributes.perception.hover}}">{{{data.attributes.perception.icon}}}</span>
                        </div>
                        <div class="defense-container">
                            <h4 class="defense-item pf-title">Item</h4>
                            <span class="defense-item-value pf-value" title="Item">
                                <input name="data.attributes.perception.item" type="text" value="{{data.attributes.perception.item}}"
                                        data-dtype="Number" placeholder="+0"/>
                            </span>
                        </div>  
                    </li>
                
            </ol>


            <h3 class="defense-title pf-heading">Saves</h3>
            <ol class="defense-list">
                
                {{#each data.saves as |save sid|}}
                    <li class="defense" data-save="{{sid}}">
                        <span class="defense-score rollable" title="{{save.breakdown}}">{{numberFormat save.value decimals=0 sign=false}}</span>
                        <h4 class="save-name rollable">{{save.label}}</h4>                    
                        <div class="defense-container">
                            <h4 class="proficiency-name pf-title">Prof</h4>
                            <input type="hidden" name="data.saves.{{sid}}.rank" value="{{save.rank}}" data-dtype="Number"/>
                            <span class="proficiency-rank proficiency-click pf-value" title="{{save.hover}}">{{{save.icon}}}</span>
                        </div>
                        <div class="defense-container">
                            <h4 class="defense-item pf-title">Item</h4>
                            <span class="defense-item-value pf-value" title="Item">
                                <input name="data.saves.{{sid}}.item" type="text" value="{{save.item}}"
                                        data-dtype="Number" placeholder="+0"/>
                            </span>
                        </div>  
                    </li>
                {{/each}}
            </ol>
            

            <h3 class="abilities-title pf-heading">Ability Scores</h3>
            <ol class="abilities-list">
                {{#each data.abilities as |ability id|}}
                    <li class="ability" data-ability="{{id}}">
                        <h4 class="ability-name">{{ability.label}}</h4>
                        <span class="ability-id" title="Ability">{{id}}</span>
                        <span class="ability-mod" title="Modifier">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                        <span class="ability-score" title="Score">
                            <input name="data.abilities.{{id}}.value" type="text" value="{{ability.value}}"
                                   data-dtype="Number" placeholder="10"/>
                        </span>
                        
                    </li>
                {{/each}}
            </ol>
        </div>
    </section>

    <!-- SHEET NAVIGATION -->
    <nav class="sheet-navigation">
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="actions">Actions</a>
            <a class="item" data-tab="inventory">Inventory</a>
            <a class="item" data-tab="spellbook">Spellbook</a>
            <a class="item" data-tab="skills">Skills</a>
            <a class="item" data-tab="feats">Feats</a>
            <a class="item active" data-tab="biography">Character</a>
        </nav>
    </nav>

    <!-- LOWER SECTION -->
    <section class="sheet-lower">

        

        <!-- BODY -->
        <section class="sheet-content content">

            <!-- Actions -->
            {{> public/systems/pf2e/templates/actors/tabs/actor-actions.html}}

            <!-- INVENTORY -->
            {{> public/systems/pf2e/templates/actors/tabs/actor-inventory.html}}

            <!-- SPELLBOOK -->
            {{> public/systems/pf2e/templates/actors/tabs/actor-spellbook.html}}

             <!-- SKILLS -->
            {{> public/systems/pf2e/templates/actors/tabs/actor-skills.html}}

            <!-- FEATS -->
            {{> public/systems/pf2e/templates/actors/tabs/actor-feats.html}}

            <!-- BIOGRAPHY -->
            {{> public/systems/pf2e/templates/actors/tabs/actor-biography.html}}
            
        </section>
    </section>
</form>
