<!-- <div class="form-group">
    <label>{{data.featType.label}}</label>
    <select name="data.featType.value" data-dtype="{{data.featType.type}}">
        {{#select data.featType.value}}
        {{#each featTypes as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div> -->

<div class="form-group">
    <label>{{data.actionType.label}}</label>
    <select name="data.actionType.value" data-dtype="{{data.actionType.type}}">
        {{#select data.actionType.value}}
        {{#each actionTypes as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{data.actions.label}}</label>
    <select name="data.actions.value" data-dtype="{{data.actions.type}}">
        {{#select data.actions.value}}
        <option value=""></option>
        {{#each actionsNumber as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{data.weapon.label}}</label>
    <select name="data.weapon.value" data-dtype="{{data.weapon.type}}">
        {{#select data.weapon.value}}
        <option value=""></option>
        {{#each weapons as |item i|}}
        <option value="{{item.id}}">{{item.name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<!-- <div class="form-group">
    <label>{{data.prerequisites.label}}</label>
    <input type="text" name="data.prerequisites.value" value="{{data.prerequisites.value}}"
           data-dtype="{{data.prerequisites.type}}"/>
</div> -->

<!-- <div class="form-group">
    <label>{{data.level.label}}</label>
    <input type="text" name="data.level.value" value="{{data.level.value}}"
            data-dtype="{{data.level.type}}"/>
</div> -->

<!-- <div class="form-group">
    <label>{{data.traits.label}}</label>
    <input type="text" name="data.traits.value" value="{{data.traits.value}}"
            data-dtype="{{data.traits.type}}"/>
</div> -->

<div class="form-group-stacked">
    <label for="data.traits">
        {{data.traits.label}}
        <a class="trait-selector" data-options="featTraits"><i class="fas fa-edit"></i></a>
    </label>
    <!-- <input type="text" name="data.traits.value" value="{{data.traits.value}}" data-dtype="{{data.traits.type}}"/> -->
    <ul class="traits-list">
        {{#each data.traits.value as |v k|}}
            <span class="tag {{k}}">{{v}}</span>
        {{/each}}
    </ul>
</div>
