<ol class="inventory-list directory-list">
    {{#each actor.spellbook as |section lvl|}}
        <li class="item inventory-header spellbook-header">
            <div class="item-name flexrow">
                <h3>{{section.label}}</h3>

                {{#unless section.isCantrip}}
                <span class="spell-slots-input">
                    <input type="text" name="data.spells.spell{{lvl}}.value" value="{{section.uses}}" placeholder="0"/>
                </span>
                <span class="flex0"> / </span>
                <span class="spell-max-input">
                    <input type="text" name="data.spells.spell{{lvl}}.max" value="{{section.slots}}" placeholder="0"/>
                </span>
                {{else}}
                <span class="spell-slots">&infin;</span>
                <span class="flex0"> / </span>
                <span class="spell-max">&infin;</span>
                {{/unless}}
            </div>

            <div class="spell-school-header">School</div>
            <div class="spell-action-header">Action</div>

            {{#if ../owner}}
            <div class="item-controls">
                <a class="item-control spell-create" title="Create Spell" data-type="spell"
                    data-level="{{lvl}}"><i class="fas fa-plus"></i> Add</a>
            </div>
            {{/if}}
        </li>

        
        {{#each section.spells as |item i|}}
        <li class="item" data-item-id="{{item.id}}">
            <div class="item-name rollable">
                <div class="item-image" style="background-image: url({{item.img}})"></div>
                <h4>{{item.name}}</h4>
            </div>

            <div class="spell-school">{{item.data.school.str}}</div>
            <div class="spell-action">{{item.data.time.value}}</div>

            {{#if ../../owner}}
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
        </li>
        {{/each}}
        

    {{else}}
        <li class="item inventory-header spellbook-header spellbook-empty">
            {{#if owner}}
            <div class="item-controls pf-bluelist">
                <a class="item-control spell-create" title="Create Spell" data-type="spell"
                    data-level="{{lvl}}"><i class="fas fa-plus"></i> Add Spell</a>
            </div>
            {{/if}}
        </li>
    {{/each}}
</ol>