<div class="tab inventory" data-group="primary" data-tab="inventory">
    <ol class="currency">
        {{#each data.currency as |c i|}}
        <li class="denomination {{i}}">
            <label>{{c.label}}:</label>
            <input type="text" name="data.currency.{{i}}.value" value="{{c.value}}" data-dtype="{{c.type}}"/>
        </li>
        {{/each}}
    </ol>

    <ol class="inventory-list directory-list">
    {{#each actor.inventory as |section sid|}}
        <li class="item inventory-header">
            <h3 class="item-name">{{section.label}}</h3>
            <span class="item-quantity">Qty.</span>
            <span class="item-weight">Bulk</span>
            {{#if ../owner}}
            <div class="item-controls">
                <a class="item-control item-create" title="Create Item" data-type="{{sid}}"><i class="fas fa-plus"></i> Add</a>
            </div>
            {{/if}}
        </li>
        {{#each section.items as |item iid|}}
        <li class="item" data-item-id="{{item.id}}">
            <div class="item-name rollable">
                <div class="item-image" style="background-image: url({{item.img}})"></div>
                <h4>
                    {{item.name}}
                    {{#if item.data.attuned.value}}<i class="prepared fas fa-haykal"></i>{{/if}}
                </h4>
                {{#if item.hasCharges}}
                <span class="item-charges">({{item.data.charges.value}}/{{item.data.charges.max}})</span>
                {{/if}}
            </div>
            <span class="item-quantity">{{item.data.quantity.value}}</span>
            <span class="item-weight">{{item.totalWeight}}</span>

            {{#if ../../owner}}
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
        </li>
        {{/each}}
    {{/each}}
    </ol>

    {{#with data.attributes.encumbrance}}
    <div class="encumbrance {{#if encumbered}}encumbered{{/if}}">
        <span class="encumbrance-bar" style="width:{{pct}}%"></span>
        <span class="encumbrance-label">{{value}} / {{max}}</span>
        <!-- <div class="encumbrance-breakpoint arrow-up"></div>
        <div class="encumbrance-breakpoint arrow-down"></div> -->
    </div>
    {{/with}}
</div>