<div class="tab feats" data-group="primary" data-tab="actions">
    <ol class="actions-list inventory-list directory-list">
        {{#each actor.actions as |section sid|}}
            <li class="item action-header">
                <h3 class="item-name pf-heading pf-actions">{{section.label}}</h3>
                {{#if ../owner}}
                <div class="item-controls">
                    <a class="item-control item-create" title="Create Action" data-type="action" data-action-type="{{sid}}"><i class="fas fa-plus"></i> Add</a>
                </div>
                {{/if}}
            </li>
            {{#each section.actions as |action aid|}}
            <li class="item" data-item-id="{{action.id}}">
                <div class="item-name rollable">
                    <div class="item-image" style="background-image: url({{action.img}})"></div>
                    <h4>
                        {{action.name}}
                    </h4>
                </div>
                {{#if ../../owner}}
                <div class="item-controls">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    {{#unless action.feat}}
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    {{/unless}}
                </div>
                {{/if}}
            </li>
            {{/each}}
        {{/each}}
    </ol>
</div>


               <!-- ********** ACTIONS ************ -->

