<ol class="inventory-list directory-list">
    {{#each actor.spellbook as |section lvl|}}
        <li class="item inventory-header spellbook-header">
            <div class="item-name flexrow">
                <h3>{{section.label}}</h3>

                {{#if section.isFocus}}
                <span class="spell-slots-input">
                    <input type="text" name="data.spells.spell{{lvl}}.value" value="{{section.uses}}" placeholder="0"/>
                </span>
                <span class="flex0"> / </span>
                <span class="spell-max-input">
                    <input type="text" name="data.spells.spell{{lvl}}.max" value="{{section.slots}}" placeholder="0"/>
                </span>
                {{else}}
                <span class="spell-max-input">
                    <input type="text" name="data.spells.spell{{lvl}}.max" value="{{section.slots}}" placeholder="0"/>
                </span>
                {{/if}}
            </div>

            <div class="spell-school-header">School</div>
            <div class="spell-action-header">Action</div>

            {{#if ../owner}}
            <div class="item-controls">
                <a class="item-control spell-create" title="Create Spell" data-type="spell"
                    data-level="{{lvl}}"><i class="fas fa-plus"></i> Add</a>
            </div>
            {{/if}}
        </li>

        {{#unless section.isFocus}}
            {{#each section.prepared as |item i|}}
            
                {{#if item.prepared}}    
                    <li class="item" data-item-id="{{item.id}}" data-slot-id="{{i}}" data-spell-lvl="{{lvl}}">
                        <div class="item-name">                    
                            <div class="item-image" style="background-image: url({{item.img}})"></div>
                            <h4>{{item.name}}</h4>
                        </div>

                        <div class="spell-school">{{item.data.school.str}}</div>
                        <div class="spell-action">{{item.data.time.value}}</div>
        
                        {{#if ../../owner}}
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-unprepare" title="Unprepare Item"><i class="fas fa-minus-square"></i></a>
                        </div>
                        {{/if}}
                    </li>
                {{else}}
                    <li class="item" data-item-id="{{i}}" data-spell-lvl="{{lvl}}" data-item-type="spellSlot">
                        <div class="item-name" style="padding-left:30px;">
                            <h4>{{item.name}}</h4>
                        </div>
                    </li>
                {{/if}}
            
            {{/each}}

            
            
            {{#if ../showUnpreparedSpells}}
            <h3 class="item-name pf-sub-category pf-actions">Unprepared Spells</h3>
                    
            <!-- Unprepared Spells -->
                {{#each section.spells as |item i|}}
                    <li class="item" data-item-id="{{item.id}}">
                        <div class="item-name rollable">
                            <div class="item-image" style="background-image: url({{item.img}})"></div>
                            <h4>{{item.name}}</h4>
                        </div>

                        <div class="spell-school">{{item.data.school.str}}</div>
                        <div class="spell-action">{{item.data.time.value}}</div>

                        {{#if ../../owner}}
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                        {{/if}}
                    </li>
                {{/each}}
            {{/if}}
        {{else}}
            {{#each section.spells as |item i|}}
            <li class="item" data-item-id="{{item.id}}">
                <div class="item-name rollable">
                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                    <h4>{{item.name}}</h4>
                </div>

                <div class="spell-school">{{item.data.school.str}}</div>
                <div class="spell-action">{{item.data.time.value}}</div>

                {{#if ../../owner}}
                <div class="item-controls">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
                {{/if}}
            </li>
            {{/each}}
        {{/unless}}
        

    {{else}}
        <li class="item inventory-header spellbook-header spellbook-empty">
            {{#if owner}}
            <div class="item-controls pf-bluelist">
                <a class="item-control spell-create" title="Create Spell" data-type="spell"
                    data-level="{{lvl}}"><i class="fas fa-plus"></i> Add Spell</a>
            </div>
            {{/if}}
        </li>
    {{/each}}
</ol>